# Sensitive Files
credentials.json
Network Logs/
/*.jpeg
apiKey.txt
*.log

# Useless Junk
__pycache__/
/.vscode/
*.html
*.csv
*.json
docs/
.DS_Store
*.txt

# Do not ignore ghettopacks
!ghettopacks.csv
!ghettopacks_clean.csv

# Do not ignore pip requirements.
!requirements.txt

# virtualenv
bin/
lib/
pyvenv.cfg