# Sensitive Files
credentials.json
Network Logs/
/*.jpeg
apiKey.txt
*.log

# Useless Junk
__pycache__/
/.vscode/
*.html
*.csv
*.json
docs/
.DS_Store

# Do not ignore ghettopacks
!ghettopacks.csv
!ghettopacks_clean.csv